:root {
    --primary-color: #3cb6a0;

    --light-contrast: rgba(250, 243, 224);
    --dark-contrast: rgba(230, 210, 169);
    /*Other Color being considered: 089abb*/
    /*Other Color being considered: ef3e00 (Orange)*/
    /** Older Green 8fae2d**/
    --primary-font-family: "Montserrat", sans-serif;
}

body {
    max-width: 100vw;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-family: var(--primary-font-family) !important;
    transition: .3s all;
    text-align: justify;
}

a {
    text-decoration: none;
}

.title-logo {
    font-weight: 700;
}

.manufacturing-unit-images {
    transition: 0.3s;
}

.manufacturing-unit-images:hover {
    transform: scale(1.05);
}

.color-primary {
    color: var(--primary-color) !important;
}

.background-primary {
    background-color: var(--primary-color) !important;
}

.loading-button {
    background: var(--primary-color) !important;
    color: white !important;
    border: 2px solid var(--primary-color) !important;
    border-radius: 1.5em !important;
    font-weight: 600 !important;
    font-family: var(--primary-font-family) !important;
    font-size: calc(0.6rem + 0.5vw) !important;
    transition: 0.5s !important;
}

.loading-button:hover {
    background: var(--primary-color) !important;
    color: white !important;
}

.font--size-1125 {
    font-size: "1.125em" !important;
}

.mb--25 {
    margin-bottom: 20px !important;
}

.icon-small {
    font-size: small !important;
}

.fw-600 {
    font-weight: 600 !important;
}


/* SWIPER Classes to have custom navigation buttons */
.swiper-nav-prev,
.swiper-nav-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.swiper-nav-next {
    right: 0%;
}

.swiper-nav-prev {
    left: 0%;
}

.swiper-nav-prev::after,
.swiper-nav-next::after {
    content: "";
}

/* General Carousel Styling */
.carousel {
    height: 60vh;
    position: relative;
}

/* Individual Slide Styling */
.carouselItem {
    position: relative;
}

/* Image Container */
.imageContainer {
    position: relative;
    width: 100%;
}

/* Image Styling */
.image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

/* Text Overlay Styling */
.textContainer {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: white;
    font-family: "Montserrat", sans-serif !important;
}

/* Title Styling */
.title {
    font-weight: 700;
}

/* Button Styling */
.btn-lg {
    font-weight: 600;
    transition: 0.3s;
}

/* Hover Effects */
.btn-lg:hover {
    background: black;
    color: white;
}

.btn-learn-more {
    background-color: #3cb6a0;
    color: white;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    transition: background 0.3s ease;
}

/* Zoom In Animation */
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.zoomInAnimation {
    animation: zoomIn 5s ease-in-out;
    animation-fill-mode: both;
}

footer {
    background-color: #000;
    color: #fff;
}

footer h4 {
    font-weight: 600;
}

footer a:hover {
    transition: .3s all;
    color: var(--primary-color) !important;
}

.text-muted {
    font-size: 0.9em;
}

/* Social Icons */
.social-icon a {
    transition: transform 0.3s ease-in-out;
}

.social-icon a:hover {
    transform: scale(1.2);
}

.counter-number {
    font-size: 2em;
    font-weight: bold;
    color: #3cb6a0;
}

.counter-label {
    font-size: 1em;
    color: #333;
}

.certificate-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fafafa;
    height: 15em;
    margin: 1.5em;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-align: center;
    padding: 15px;
}

.certificate-box img {
    height: 11em;
    object-fit: contain;
    display: block;
    margin: auto;
    transition: .3s all;
}

.certificate-box:hover {
    background: linear-gradient(to bottom, rgba(60, 182, 160, 0.7) 0%, rgba(30, 69, 107, 0.7) 130%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.cert-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 10px;
    display: block;
    transition: color 0.3s ease-in-out;
}

.cert-text {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}

.card:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

.card img {
    height: 200px;
    object-fit: contain;
}

.btn-learn-more {
    background-color: #3cb6a0;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
}

.btn-learn-more:hover {
    background-color: #008169;
    color: white;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 18rem;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.card-body {
    text-align: center;
    background: linear-gradient(135deg, rgba(250, 243, 224, 0.8) 20%, rgba(230, 210, 169, 0.8));
}

.card-title {
    color: #3cb6a0;
    font-weight: bold;
}

.btn-learn-more {
    background-color: #3cb6a0;
    color: white;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    transition: background 0.3s ease;
}

.btn-learn-more:hover {
    background-color: #008169;
}

.swiper_container {
    /* height: 52em; */
    width: 90%;
    padding: 2em 0;
    position: relative;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    /* position: relative;
  bottom: 2em; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next {
    right: 0%;
}

.swiper-button-prev {
    left: 0%;
}

.slider-controler .slider-arrow {
    background: var(--primary-color);
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    filter: drop-shadow(4px 16px 24px rgba(18, 28, 53, 0.3));
    color: aliceblue;
}

.slider-controler .slider-arrow::after {
    content: "";
}

.swiper-pagination {
    position: relative;
    width: 100% !important;
    bottom: 1em;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary-color);
}

.disc-style-list {
    list-style: disc !important;
}