:root {
  --primary-color: #3cb6a0;

  --light-contrast: rgba(250, 243, 224);
  --dark-contrast: rgba(230, 210, 169);
  /*Other Color being considered: 089abb*/
  /*Other Color being considered: ef3e00 (Orange)*/
  /** Older Green 8fae2d**/
  --primary-font-family: "Montserrat", sans-serif;
}

body {
  max-width: 100vw;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: var(--primary-font-family) !important;
  transition: all 0.3s ease;
  text-align: justify;
}

a {
  text-decoration: none;
}

.color-primary {
  color: var(--primary-color) !important;
}

.mb--25 {
  margin-bottom: 20px !important;
}

.icon-small {
  font-size: small !important;
}

.fw-600 {
  font-weight: 600 !important;
}

/* SWIPER Classes to have custom navigation buttons */

.swiper_container {
  /* height: 52em; */
  width: 90%;
  padding: 2em 0;
  position: relative;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-nav-prev,
.swiper-nav-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-nav-next {
  right: 0%;
}

.swiper-nav-prev {
  left: 0%;
}

.swiper-nav-prev::after,
.swiper-nav-next::after {
  content: "";
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* General Carousel Styling */
.carousel {
  height: 60vh;
  position: relative;
}

/* Individual Slide Styling */
.carouselItem {
  position: relative;
}

/* Image Container */
.imageContainer {
  position: relative;
  width: 100%;
}

/* Image Styling */
.image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

/* Text Overlay Styling */
.textContainer {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: start;
  color: white;
  font-family: "Montserrat", sans-serif !important;
}

/* Title Styling */
.title {
  font-weight: 700;
}

/* Button Styling */
.btn-lg {
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Hover Effects */
.btn-lg:hover {
  background: black;
  color: white;
}

.btn-learn-more {
  background-color: #3cb6a0;
  color: white;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  transition: background 0.3s ease;
}

.btn-learn-more:hover {
  background-color: #008169;
  color: white;
}

/* Zoom In Animation */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.card:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}

.card {
  width: 18rem;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

.card-body {
  text-align: center;
  background: linear-gradient(135deg, rgba(250, 243, 224, 0.8) 20%, rgba(230, 210, 169, 0.8));
}

.card-title {
  color: #3cb6a0;
  font-weight: bold;
}

.swiper-button-next {
  right: 0%;
}

.swiper-button-prev {
  left: 0%;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary-color);
}

.search-icon {
  font-size: 22px;
  cursor: pointer;
}

#resultsList {
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

/* a {
    text-decoration: none;
    color: #000 !important;
} */

.close-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

.nav-link,
.nav-link:hover {
  color: var(--primary-color);
}

.nav-tabs {
  justify-content: center;
}
