:root {
    --primary-color: #3cb6a0;

    --light-contrast: rgba(250, 243, 224);
    --dark-contrast: rgba(230, 210, 169);
    /*Other Color being considered: 089abb*/
    /*Other Color being considered: ef3e00 (Orange)*/
    /** Older Green 8fae2d**/
    --primary-font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f0f0f0;
    text-align: justify !important;
    font-family: var(--primary-font-family) !important;
}

.container-custom {
    background: #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-top: 3rem;
}

.color-primary {
    color: var(--primary-color);
}

.manufacturing-unit-images {
    width: 250px;
    height: 100px;
    margin: 0.5rem;
}